{% extends 'default.html' %}
{% block main %}
    <div class="data-content">
        <h2 class="data-title">Добавить данные...</h2>
        <div class="language-data">
        <a href="{% url 'add_language' %}" class="nav-link">Добавить язык программирования</a>
        <a href="{% url 'select_language' %}" class="nav-link">Удалить язык программирования</a>
        </div>
        <div class="technology-data">
        <a href="{% url 'add_technology' %}" class="nav-link">Добавить технологию</a>
        <a href="{% url 'select_technology' %}" class="nav-link">Удалить технологию</a>
        </div>
        <div class="feature-data">
        <a href="{% url 'add_feature' %}" class="nav-link">Добавить особенность</a>
        <a href="{% url 'select_feature' %}" class="nav-link">Удалить особенность</a>
        </div>
        <a href="{% url 'add_project' %}" class="nav-link">Добавить проект</a>
    </div>

{% endblock main %}