{% extends 'default.html' %}

{% block main %}
{% include "components/sidebar.html" %}
<div class="main-content">
    <h1 class="main-title">Список проектов</h1>
    <h2 class="selected_category">Выбранная категория: <u> {{ category }} </u></h2>
            <div class="projects">
                {% if not user.is_authenticated %}
                <h2 class="message">Авторизуйтесь для получения данных</h2>
                {% elif projects %}
                {% for project in projects %}
                <section class="project-content">
                    <h2 class="project-item">Название: <u>{{project.name}}</u></h2>
                    <h3 class="project-item">Описание: <u>{{project.description}}</u></h3>
                    <h3 class="project-item">Используемые технологии и особенности проекта:</h3>
                    <div class="project-dependencies">
                        {% for technology in project.technologies.all %}
                        <div class="project-dependency">{{technology}}</div>
                        {% endfor %}
                        {% for feature in project.features.all %}
                        <div class="project-dependency">{{feature}}</div>
                        {% endfor %}
                    </div>
                    <a class="nav-link project-item" href="{% url 'project_detail' project.id %}">Details...</a>
                </section>
                {% endfor %}
                {% else %}
                <h2 class="message">Нет проектов в выбранной категории для Вас</h2>
                {% endif %}
            </div>
</div>
{% endblock main %}

